@font-face {
  font-family: 'OTWelcomeRA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: 'OTWelcomeRA';
  width: 100%;
}

/* Header */
main .introduce{
  display: flex;
  justify-content: center;
  background-color: #F2E9D8;
  padding-top: 70px;
  height: 500px;
  width: 100%;
  /* padding: 0 320px; */
}
main .introduce .box-introduce {
  padding-top: 100px;
}
.introduce .box-introduce .tit-introduce {
  width: 500px;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
}
.introduce .box-introduce .desc-introduce {
  width: 350px;
  margin-bottom: 10px;
}
.introduce .box-introduce .contact {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.introduce .box-introduce .contact button {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  background: #D97652;
  border-radius: 40px;
  color: white;
  border: none;
  cursor: pointer;
}
.introduce .box-introduce .contact .btn-me {
  z-index: 10;
  background-image: url(../img/speech-bubble.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
  padding-top: 105px;
  padding-left: 40px;
}
.introduce .box-introduce .contact .btn-me li{
  margin-bottom: 15px;
}
.introduce img {
  margin-top: 70px;
  width: 330px;
  height: 330px;
  border-radius: 40px;
  border: 5px solid #daa693;
}

/* Navbar */
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  background-color: #F2E9D8;
  align-items: center;
  z-index: 20;
  transition: all 0.5s;
}
nav .tit-logo {
  font-size: 20px;
  margin-left: 100px;
}
nav .list-nav {
  display: flex;
  margin-right: 100px;
}
nav .list-nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  width: 80px;
  height: 30px;
  font-size: 16px;
  transition: all 0.3s;
  cursor: pointer;
  margin-left: 5px;
}
nav .list-nav li:hover {
  background: #D97652;
  width: 100px;
  color: white;
  transition: all 0.3s;
}
nav .list-nav li a {
  text-decoration: none;
  color: black;
}
nav .list-nav li:hover a {
  color: white;
}
nav .list-nav .fa-external-link-alt {
  font-size: 11px;
  padding-left: 2px;
}

.navbar-dark {
  background-color: #f0e2c7;
}

/* Main - project,  evaluate*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .resume {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 60px 0;
}
main .resume img {
  width: 360px;
  height: 240px; 
  margin-top: 20px;
  margin-right: 30px;
  border-radius: 30px;
  border: 5px solid #F2E9D8;
}
main .resume div{
  margin-top: 30px;
  width: 330px;
  height: 240px;
}
main .resume div .tit-resume{
  color: #D97652;
  font-size: 26px;
  font-weight: 700;
}
main .resume div .tit-edu{
  margin-top: 13px;
  color: rgb(190, 190, 190);
}
main .resume div .tit-edu strong{
  font-size: 20px;
  color: black;
}
main .resume div p{
  margin-top: 8px;
}

main .project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
main .project .tit-project {
  font-weight: bold;
  color: #D97652;
  font-size: 28px;
  padding-bottom: 20px;
}
main .project p {
  margin-bottom: 5px;
}

main .project .projects {
  display: flex;
  margin-top: 30px;
}
main .project .projects li{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}
main .project .projects img {
  width: 230px;
  height: 230px;
  border-radius: 30px;
  border: 3px solid #F2E9D8;
}
main .project .projects .desc-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  left: 8px;
  width: 230px;
  height: 230px;
  border: 3px solid #F2E9D8;
  border-radius: 30px;
  background-color: #F2E9D8;
  opacity: 0;
  transition: all 0.3s;
}
main .project .projects .desc-project:hover {
  opacity: 0.8;
  transition: all 0.3s;
}
main .project .projects .desc-project strong{
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
main .project .projects .desc-project p{
  color: black;
  font-size: 16px;
}

main .project .more-project {
  display: flex;
  margin-top: 50px;
  margin-bottom: 30px;
}
main .project .more-project a{
  text-decoration : none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: #D97652;
  border-radius: 40px;
  border: none;
  width: 100px;
  margin-left: 20px;
  line-height: 28px;
  font-size: 14px;
}

main .project .evaluate{
  display: flex;
  width: 620px;
  height: 120px;
  margin-top: 60px;
  background: #263140;
  border-radius: 20px;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
main .project .evaluate .box-ask {
  margin-top: 5px;
}
main .project .evaluate .box-ask p{
  margin-bottom: 10px;
}
.box-ask .desc-yes, .box-ask .desc-no {
  color: #F2E9D8;

}
main .project .evaluate .inp-evaluate {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 35px;
  width: 255px;
  border-radius: 60px;
}
main .project .evaluate .inp-evaluate input {
  margin-left: 10px;
  font-size: 14px;
}

main .project .evaluate p {
  font-size: 13px;
}
main .project .evaluate strong {
  font-size: 20px;
}

main .project .evaluate .inp-evaluate .fa-star{
  margin-top: 9px;
  margin-left: 12px;
  color: darkgray;
}

main .project .evaluate .inp-evaluate input {
  border: none;
  width: 140px;
  outline: none;
}

main .project .evaluate .inp-evaluate button {
  font-size: 12px;
  color: white;
  background: #D97652;
  border-radius: 40px;
  border: none;
  width: 80px;
  height: 29px;
  margin-top: 3px;
  margin-right: 3px;
}

main .project .img-background {
  margin-top: -60px;
  z-index: -1;
  width: 100%;
  height: 250px;
}

.btn-top {
  -webkit-align-self: end;
  align-self: end;
  position: sticky;
  bottom: 10px;
  background-image: url("../img/scroll-top-btn-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 90%;
  margin-top: -40px;
  margin-right: 20px;
}
.btn-top:hover {
  background-image: url("../img/scroll-top-btn-2.png");
}

/* Footer */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
}
footer .tit-footer {
  font-size: 30px;
  color: #263140;
}

footer .btn-link {
  display: flex;
}
footer .btn-link li{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F29D52;
  color: white;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 90px;
  cursor: pointer;
}
footer .btn-link li a {
  color: white;
}

/* modal */
.modal-yes, .modal-no{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}
.modal_overlay, .toggle_overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
}
.modal_content {
  background-image: url("../img/modal-background.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 380px;
  height: 254px;
  text-align: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.modal_content img {
  margin-top: 45px;
  width: 70px
}
.modal_content .greeting {
  font-size: 24px;
  color: #D97652;
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 13px;
}
.modal_content p {
  font-size: 14px;
}
.modal_content button {
  margin-top: 15px;
  background: #D97652;
  border-radius: 40px;
  border: none;
  width: 80px;
  height: 29px;
  color: white;
  cursor: pointer;
}

.hidden, .btn-nav-toggle, .navbar-open{
  display: none;
}

@media screen and (max-width:900px) {
  .introduce {
    padding-top: 50px;
  }
  .introduce .box-introduce {
    margin-right: 0;
  }
  .introduce .box-introduce .tit-introduce {
    width: 300px;
    font-size: 28px;
  }
  .introduce .box-introduce .desc-introduce {
    width: 250px;
  }
  .introduce .box-introduce .contact {
    width: 350px;
  }
  .introduce .box-introduce .contact .btn-me {
    padding-top: 70px;
  }
  .introduce .box-introduce .contact .btn-me li{
    margin-bottom: 10px;
  }

  .introduce img {
    width: 290px;
    height: 290px;
    border-radius: 40px;
    border: 5px solid #daa693;
  }
  .btn-top {
    align-self: end;
    position: sticky;
    bottom: 10px;
    margin-top: -40px;
    margin-right: 20px;
  }
  .btn-top:hover {
    background-image: url("../img/scroll-top-btn-2.png");
  }
}

@media screen and (max-width:600px) {
  body {
    width: 100%;
  }

  nav {
    justify-content: space-between;
    height: 60px;
    overflow: hidden;
    width: 100%;
  }
  nav .tit-logo {
    margin-left: 23px;
  }
  nav .list-nav {
    display: none;
  }
  nav .btn-nav-toggle {
    display: block;
    margin-right: 20px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  .toggle-open{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
  }
  .toggle-sidebar {
    position: absolute;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: #263140;
    z-index: 40;
  }
  .toggle-sidebar button {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    margin: 15px;
  }
  .toggle-sidebar ul {
    margin: 30px;
    margin-left: 60px;
  }
  .toggle-sidebar ul li {
    color: white;
    margin-bottom: 30px;
    cursor: pointer;
  }
  .toggle-sidebar ul a {
    text-decoration: none;
    color: white;
  }
  .toggle-sidebar ul li:hover,
  .toggle-sidebar ul a:hover,
  .toggle-sidebar button:hover {
    color: #F29D52;
  }

  .introduce {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 250px;
  }
  .introduce .box-introduce {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .introduce .box-introduce .desc-introduce {
    width: 285px;
  }
  .introduce .box-introduce .contact {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .introduce .box-introduce .contact .btn-me {
    background-image: none;
    padding-top: 10px;
    padding-left: 20px;
    height: 0;
    width: 240px;
    font-size: 14px;
    margin-top: 0;
  }
  .introduce .box-introduce .contact .btn-me li {
    margin-left: -10px;
    margin-bottom: 5px;
  }
  .introduce img {
    width: 240px;
    height: 240px;
  }

  main .resume {
    flex-direction: column;
    align-items: center;
  }
  main .resume img {
    width: 310px;
    height: 190px; 
    margin-top: 0;
    margin-right: 0;
    border-radius: 30px;
    border: 5px solid #F2E9D8;
  }
  main .box-resume {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .box-resume strong {
    display: block;
    margin-left: 17px;
    margin-top: 10px;
  }
  main .project {
    width: 100%;
  }
  main .project p {
    width: 320px;
  }

  main .project .projects img {
    border-radius: 30px;
    border: 2px solid #F2E9D8;
  }
  main .project .projects {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  main .project .projects::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
  main .project .projects .desc-project {
    border: 2px solid #F2E9D8;
  }
  main .project .projects .desc-project strong{
    font-size: 18px;
  }
  main .project .projects .desc-project p{
    font-size: 14px;
    width: 75px;
  }
  main .project .more-project {
    flex-direction: column;
    width: 310px;
  }
  main .project .more-project a{
    align-self: end;
  }

  main .project .evaluate{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 250px;
    height: 270px;
  }
  main .project .evaluate .box-ask {
    width: 250px;
  }
  main .project .evaluate .box-ask strong{
    display: block;
  }
  main .project .evaluate .box-ask .desc-yes {
    margin-top: 20px;
  }
  main .project .evaluate .box-ask .desc-no {
    margin-bottom: 25px;
  }

  main .project .img-background {
    height: 150px;
    width: 100%;
  }

  .modal_content {
    width: 330px;
    background-size: cover;
  }
} 